:root {
    --size-of-grid: 16
}
#container {
    display: grid;
    height: 960px;
    width: 960px;
    grid-template-columns: repeat(16, auto);
    grid-template-rows: repeat(16, auto)
}

#resize {
    background-color: aqua;
}

.grid {
    border: 1px solid rgb(59, 153, 117);
    background-color: rgb(96, 206, 206);
}

.hover-grid {
    background-color: rgb(219, 218, 148);
}